#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Estilos para a tabela */
table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  border: 1px solid #ccc;
}

th {
  background: #181818;
  border: 1px solid #ccc;
  padding: 8px;
}

td {
  border: 1px solid #ccc;
  padding: 8px;
}

button {
  margin: 10px 10px 10px 10px;
}